@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Dicier";
  src: url("/fonts/Dicier-Round-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "cv39" 1;
}

@font-face {
  font-family: "Dicier-Dark";
  src: url("/fonts/Dicier-Round-Dark.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "cv39" 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  /* fixes unexpected browser defaults */
  padding: 0;
  margin: 0;
  /* width and height include padding and border
  e.g. 2rem width with 0.5 rem padding makes the content width 1 rem */
  box-sizing: border-box;
  /* makes strokes (outlines) appear around elements and not partially on top of them */
  paint-order: stroke;
  /* // here to remember to add a font-choice */
  font-family: Arial, Helvetica, sans-serif;
}

td {
  line-height: 0;
}
